h1, h2, p {
    text-align: center;
}
body {
    background-image: url(images/African\ cuisine\ popularly\ known\ as\ mukimo\ and\ wet\ fried\ beef.jpg);size: 60%;
}
.About {
    width: 50%;
    background-color: rgb(235, 206, 169) ;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
.item p {
    display: inline-block;
}
h1, h2, h3{
    font-family:  sans-serif, Arial, Helvetica, sans-serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
